In [1]:
import pandas as pd 
import numpy as np
import datetime
import matplotlib.pyplot as plt 
import seaborn as sns

Number of Deaths Per State

In [2]:
#import kaggle NY Times live COVID-19 fips, cases and deaths by state dataset
all_deaths_data = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv')
all_deaths_df=pd.DataFrame(all_deaths_data)
all_deaths_df.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [3]:
#dataset information
pd.DataFrame.info(all_deaths_df)
all_deaths_df.describe()
all_deaths_df.shape
all_deaths_df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53318 entries, 0 to 53317
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    53318 non-null  object
 1   state   53318 non-null  object
 2   fips    53318 non-null  int64
 3   cases   53318 non-null  int64
 4   deaths  53318 non-null  int64
dtypes: int64(3), object(2)
memory usage: 2.0+ MB

date      object
state     object
fips       int64
cases      int64
deaths     int64
dtype: object

In [4]:
#make sure only 50 states are included
print(all_deaths_df['state'].unique())
#remove District of Columbia, Puerto Rico, Virgin Islands, Guam, Northern Mariana Islands, America Samoa
all_deaths_df = all_deaths_df[~all_deaths_df['state'].isin(['Guam', 'Northern Mariana Islands', 'Puerto Rico', 'Virgin Islands','American Samoa','District of Columbia'])]
print(all_deaths_df['state'].nunique())

#save a dataframe of a cumulative count of deaths per day for each state 
all_deaths_df['date'] = pd.to_datetime(all_deaths_df['date'])
all_deaths_df.to_csv('all_deaths_total.csv')

['Washington' 'Illinois' 'California' 'Arizona' 'Massachusetts'
 'Wisconsin' 'Texas' 'Nebraska' 'Utah' 'Oregon' 'Florida' 'New York'
 'Rhode Island' 'Georgia' 'New Hampshire' 'North Carolina' 'New Jersey'
 'Colorado' 'Maryland' 'Nevada' 'Tennessee' 'Hawaii' 'Indiana' 'Kentucky'
 'Minnesota' 'Oklahoma' 'Pennsylvania' 'South Carolina'
 'District of Columbia' 'Kansas' 'Missouri' 'Vermont' 'Virginia'
 'Connecticut' 'Iowa' 'Louisiana' 'Ohio' 'Michigan' 'South Dakota'
 'Arkansas' 'Delaware' 'Mississippi' 'New Mexico' 'North Dakota' 'Wyoming'
 'Alaska' 'Maine' 'Alabama' 'Idaho' 'Montana' 'Puerto Rico'
 'Virgin Islands' 'Guam' 'West Virginia' 'Northern Mariana Islands'
 'American Samoa']
50

In [5]:
#since the deaths column is cumulative the total death count would be from the most recent date
most_recent_date = all_deaths_df['date'].max()
print(most_recent_date)
all_deaths_summed = all_deaths_df[all_deaths_df['date']==most_recent_date]

#rename columns
all_deaths_summed.columns = all_deaths_summed.columns.str.title()
print(all_deaths_summed.head(10))

#save dataframe with total number of deaths per state 
all_deaths_summed.to_csv('total_deaths_perstate.csv')

2022-10-20 00:00:00
            Date        State  Fips     Cases  Deaths
53262 2022-10-20      Alabama     1   1531305   20533
53263 2022-10-20       Alaska     2    306062    1350
53265 2022-10-20      Arizona     4   2283073   31514
53266 2022-10-20     Arkansas     5    957218   12408
53267 2022-10-20   California     6  11338044   96697
53268 2022-10-20     Colorado     8   1674460   13588
53269 2022-10-20  Connecticut     9    908015   11423
53270 2022-10-20     Delaware    10    311850    3136
53272 2022-10-20      Florida    12   7145833   82065
53273 2022-10-20      Georgia    13   2832383   38986

In [6]:
#create dataframe of state deaths per month 
all_deaths_df2 = all_deaths_df.sort_values(by=['state','date'], ascending=True)
all_deaths_df2['state']

#get difference of deaths between months to create columns on deaths per month, not a cumulative count
states = all_deaths_df2['state'].unique()
for state in states:
    all_deaths_df2.loc[all_deaths_df2['state'] == state, 'deaths_permonth'] = all_deaths_df2.loc[all_deaths_df2['state'] == state, 'deaths'].diff()

print(states)
print(all_deaths_df2.head(20))

['Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California' 'Colorado'
 'Connecticut' 'Delaware' 'Florida' 'Georgia' 'Hawaii' 'Idaho' 'Illinois'
 'Indiana' 'Iowa' 'Kansas' 'Kentucky' 'Louisiana' 'Maine' 'Maryland'
 'Massachusetts' 'Michigan' 'Minnesota' 'Mississippi' 'Missouri' 'Montana'
 'Nebraska' 'Nevada' 'New Hampshire' 'New Jersey' 'New Mexico' 'New York'
 'North Carolina' 'North Dakota' 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania'
 'Rhode Island' 'South Carolina' 'South Dakota' 'Tennessee' 'Texas' 'Utah'
 'Vermont' 'Virginia' 'Washington' 'West Virginia' 'Wisconsin' 'Wyoming']
           date    state  fips  cases  deaths  deaths_permonth
586  2020-03-13  Alabama     1      6       0              NaN
637  2020-03-14  Alabama     1     12       0              0.0
689  2020-03-15  Alabama     1     23       0              0.0
742  2020-03-16  Alabama     1     29       0              0.0
795  2020-03-17  Alabama     1     39       0              0.0
849  2020-03-18  Alabama     1     51       0              0.0
903  2020-03-19  Alabama     1     78       0              0.0
957  2020-03-20  Alabama     1    106       0              0.0
1011 2020-03-21  Alabama     1    131       0              0.0
1065 2020-03-22  Alabama     1    157       0              0.0
1119 2020-03-23  Alabama     1    196       0              0.0
1173 2020-03-24  Alabama     1    242       0              0.0
1227 2020-03-25  Alabama     1    386       1              1.0
1281 2020-03-26  Alabama     1    538       3              2.0
1335 2020-03-27  Alabama     1    639       4              1.0
1389 2020-03-28  Alabama     1    720       4              0.0
1444 2020-03-29  Alabama     1    830       5              1.0
1499 2020-03-30  Alabama     1    947      11              6.0
1554 2020-03-31  Alabama     1    999      14              3.0
1609 2020-04-01  Alabama     1   1108      28             14.0

In [7]:
#change datatypes to datetime
all_deaths_df2['Year'] = pd.DatetimeIndex(all_deaths_df2['date']).year
all_deaths_df2['Month'] = pd.DatetimeIndex(all_deaths_df2['date']).month
all_deaths_df2['Month_year'] = pd.to_datetime(all_deaths_df2['date']).dt.to_period('M')
all_deaths_df2.head(15)

,date,state,fips,cases,deaths,deaths_permonth,Year,Month,Month_year
586,2020-03-13,Alabama,1,6,0,NaN,2020,3,2020-03
637,2020-03-14,Alabama,1,12,0,0.0,2020,3,2020-03
689,2020-03-15,Alabama,1,23,0,0.0,2020,3,2020-03
742,2020-03-16,Alabama,1,29,0,0.0,2020,3,2020-03
795,2020-03-17,Alabama,1,39,0,0.0,2020,3,2020-03
849,2020-03-18,Alabama,1,51,0,0.0,2020,3,2020-03
903,2020-03-19,Alabama,1,78,0,0.0,2020,3,2020-03
957,2020-03-20,Alabama,1,106,0,0.0,2020,3,2020-03
1011,2020-03-21,Alabama,1,131,0,0.0,2020,3,2020-03
1065,2020-03-22,Alabama,1,157,0,0.0,2020,3,2020-03
1119,2020-03-23,Alabama,1,196,0,0.0,2020,3,2020-03
1173,2020-03-24,Alabama,1,242,0,0.0,2020,3,2020-03
1227,2020-03-25,Alabama,1,386,1,1.0,2020,3,2020-03
1281,2020-03-26,Alabama,1,538,3,2.0,2020,3,2020-03
1335,2020-03-27,Alabama,1,639,4,1.0,2020,3,2020-03

In [8]:
#reorganize dataframe
all_deaths_month = all_deaths_df2.groupby(['state','Month_year'])['deaths_permonth'].sum().reset_index()
all_deaths_month['Month_year'] = all_deaths_month['Month_year'].astype(str)
all_deaths_month['Month_year'] = pd.to_datetime(all_deaths_month['Month_year'])
all_deaths_month.dtypes

print(all_deaths_month.head(15))

      state Month_year  deaths_permonth
0   Alabama 2020-03-01             14.0
1   Alabama 2020-04-01            258.0
2   Alabama 2020-05-01            358.0
3   Alabama 2020-06-01            320.0
4   Alabama 2020-07-01            630.0
5   Alabama 2020-08-01            602.0
6   Alabama 2020-09-01            358.0
7   Alabama 2020-10-01            427.0
8   Alabama 2020-11-01            611.0
9   Alabama 2020-12-01           1249.0
10  Alabama 2021-01-01           2861.0
11  Alabama 2021-02-01           2241.0
12  Alabama 2021-03-01            625.0
13  Alabama 2021-04-01            342.0
14  Alabama 2021-05-01            250.0

In [9]:
#save dataframe with deaths per month for each state from 2020-present
all_deaths_month.to_csv('all_deaths_month.csv')

Demographics and Macroeconomic Indicators Per State

In [10]:
#import CORGIS demographics + macroeconomic indiciators by state dataset
ethnicities_data = pd.read_csv(r'state_demographics.csv')
ethnicities_df = pd.DataFrame(ethnicities_data)
print(ethnicities_df.columns)

Index(['State', 'Population.Population Percent Change',
       'Population.2014 Population', 'Population.2010 Population',
       'Age.Percent Under 5 Years', 'Age.Percent Under 18 Years',
       'Age.Percent 65 and Older', 'Miscellaneous.Percent Female',
       'Ethnicities.White Alone', 'Ethnicities.Black Alone',
       'Ethnicities.American Indian and Alaska Native Alone',
       'Ethnicities.Asian Alone',
       'Ethnicities.Native Hawaiian and Other Pacific Islander Alone',
       'Ethnicities.Two or More Races', 'Ethnicities.Hispanic or Latino',
       'Ethnicities.White Alone, not Hispanic or Latino',
       'Miscellaneous.Veterans', 'Miscellaneous.Foreign Born',
       'Housing.Housing Units', 'Housing.Homeownership Rate',
       'Housing.Median Value of Owner-Occupied Units', 'Housing.Households',
       'Housing.Persons per Household',
       'Miscellaneous.Living in Same House +1 Years',
       'Miscellaneous.Language Other than English at Home',
       'Housing.Households with a computer',
       'Housing.Households with a Internet', 'Education.High School or Higher',
       'Education.Bachelor's Degree or Higher',
       'Miscellaneous.Percent Under 66 Years With a Disability',
       'Miscellaneous.Percent Under 65 Years Witout Health insurance',
       'Sales.Accommodation and Food Services Sales',
       'Miscellaneous.Manufacturers Shipments', 'Sales.Retail Sales',
       'Miscellaneous.Mean Travel Time to Work',
       'Income.Median Houseold Income', 'Income.Per Capita Income',
       'Income.Persons Below Poverty Level',
       'Employment.Nonemployer Establishments', 'Employment.Firms.Total',
       'Employment.Firms.Men-Owned', 'Employment.Firms.Women-Owned',
       'Employment.Firms.Minority-Owned', 'Employment.Firms.Nonminority-Owned',
       'Employment.Firms.Veteran-Owned', 'Employment.Firms.Nonveteran-Owned',
       'Population.Population per Square Mile', 'Miscellaneous.Land Area'],
      dtype='object')

In [11]:
ethnicities_df = ethnicities_df[['State','Ethnicities.Black Alone','Ethnicities.American Indian and Alaska Native Alone',
                  'Ethnicities.Asian Alone', 'Ethnicities.Native Hawaiian and Other Pacific Islander Alone',
                 'Ethnicities.Two or More Races','Ethnicities.Hispanic or Latino','Ethnicities.White Alone, not Hispanic or Latino']]

In [12]:
#reorganize data from ethnicities dataframe
eth_df = ethnicities_df.sort_values('State')
#eth_df.columns = map(str.lower, eth_df.columns)
eth_df.head(10)

,State,Ethnicities.Black Alone,Ethnicities.American Indian and Alaska Native Alone,Ethnicities.Asian Alone,Ethnicities.Native Hawaiian and Other Pacific Islander Alone,Ethnicities.Two or More Races,Ethnicities.Hispanic or Latino,"Ethnicities.White Alone, not Hispanic or Latino"
6,Alabama,26.8,0.7,1.5,0.1,1.8,4.6,65.3
7,Alaska,3.7,15.6,6.5,1.4,7.5,7.3,60.2
8,Arizona,5.2,5.3,3.7,0.3,2.9,31.7,54.1
9,Arkansas,15.7,1.0,1.7,0.4,2.2,7.8,72.0
10,California,6.5,1.6,15.5,0.5,4.0,39.4,36.5
11,Colorado,4.6,1.6,3.5,0.2,3.1,21.8,67.7
0,Connecticut,12.2,0.6,5.0,0.1,2.5,16.9,65.9
1,Delaware,23.2,0.7,4.1,0.1,2.7,9.6,61.7
2,District of Columbia,46.0,0.6,4.5,0.1,2.9,11.3,37.5
3,Florida,16.9,0.5,3.0,0.1,2.2,26.4,53.2

In [13]:
macrodata_df = ethnicities_data[['State','Income.Median Houseold Income','Income.Persons Below Poverty Level']]
macro_df = macrodata_df.sort_values('State')
#macro_df.columns = map(str.lower, macro_df.columns)

macro_df.tail(5)

,State,Income.Median Houseold Income,Income.Persons Below Poverty Level
34,Virginia,74222,9.9
35,Washington,73775,9.8
48,West Virginia,46711,16.0
49,Wisconsin,61747,10.4
50,Wyoming,64049,10.1

In [14]:
#create dataframe with both demographics and macroeconomic data
merged_data1 = pd.merge(all_deaths_summed, eth_df, on='State', how='outer')
print(merged_data1.head())

macro_df = pd.merge(merged_data1, macro_df, on='State', how='outer')
macro_df = macro_df.dropna()
macro_df = macro_df.drop(columns=['Fips'])
print(macro_df.head())

        Date       State  Fips       Cases   Deaths  Ethnicities.Black Alone  \
0 2022-10-20     Alabama   1.0   1531305.0  20533.0                     26.8
1 2022-10-20      Alaska   2.0    306062.0   1350.0                      3.7
2 2022-10-20     Arizona   4.0   2283073.0  31514.0                      5.2
3 2022-10-20    Arkansas   5.0    957218.0  12408.0                     15.7
4 2022-10-20  California   6.0  11338044.0  96697.0                      6.5

   Ethnicities.American Indian and Alaska Native Alone  \
0                                                0.7
1                                               15.6
2                                                5.3
3                                                1.0
4                                                1.6

   Ethnicities.Asian Alone  \
0                      1.5
1                      6.5
2                      3.7
3                      1.7
4                     15.5

   Ethnicities.Native Hawaiian and Other Pacific Islander Alone  \
0                                                0.1
1                                                1.4
2                                                0.3
3                                                0.4
4                                                0.5

   Ethnicities.Two or More Races  Ethnicities.Hispanic or Latino  \
0                            1.8                             4.6
1                            7.5                             7.3
2                            2.9                            31.7
3                            2.2                             7.8
4                            4.0                            39.4

   Ethnicities.White Alone, not Hispanic or Latino
0                                             65.3
1                                             60.2
2                                             54.1
3                                             72.0
4                                             36.5
        Date       State       Cases   Deaths  Ethnicities.Black Alone  \
0 2022-10-20     Alabama   1531305.0  20533.0                     26.8
1 2022-10-20      Alaska    306062.0   1350.0                      3.7
2 2022-10-20     Arizona   2283073.0  31514.0                      5.2
3 2022-10-20    Arkansas    957218.0  12408.0                     15.7
4 2022-10-20  California  11338044.0  96697.0                      6.5

   Ethnicities.American Indian and Alaska Native Alone  \
0                                                0.7
1                                               15.6
2                                                5.3
3                                                1.0
4                                                1.6

   Ethnicities.Asian Alone  \
0                      1.5
1                      6.5
2                      3.7
3                      1.7
4                     15.5

   Ethnicities.Native Hawaiian and Other Pacific Islander Alone  \
0                                                0.1
1                                                1.4
2                                                0.3
3                                                0.4
4                                                0.5

   Ethnicities.Two or More Races  Ethnicities.Hispanic or Latino  \
0                            1.8                             4.6
1                            7.5                             7.3
2                            2.9                            31.7
3                            2.2                             7.8
4                            4.0                            39.4

   Ethnicities.White Alone, not Hispanic or Latino  \
0                                             65.3
1                                             60.2
2                                             54.1
3                                             72.0
4                                             36.5

   Income.Median Houseold Income  Income.Persons Below Poverty Level
0                          50536                                15.5
1                          77640                                10.1
2                          58945                                13.5
3                          47597                                16.2
4                          75235                                11.8

In [15]:
macro_df.rename(columns={'Ethnicities.Black Alone': 'percent african american', 'Ethnicities.American Indian and Alaska Native Alone': 'percent american indian and alaska native',
                  'Ethnicities.Asian Alone':'percent asian','Ethnicities.Native Hawaiian and Other Pacific Islander Alone':'percent native hawaiian and other pacific islander',
                  'Ethnicities.Two or More Races':'percent two or more races','Ethnicities.Hispanic or Latino':'percent hispanic or latino',
                  'Ethnicities.White Alone, not Hispanic or Latino':'percent white not hispanic or latino','Income.Median Houseold Income':'median household income',
                  'Income.Persons Below Poverty Level':'percent persons below poverty level'}, inplace=True)
macro_df.columns = macro_df.columns.str.title()
macro_df.head()

,Date,State,Cases,Deaths,Percent African American,Percent American Indian And Alaska Native,Percent Asian,Percent Native Hawaiian And Other Pacific Islander,Percent Two Or More Races,Percent Hispanic Or Latino,Percent White Not Hispanic Or Latino,Median Household Income,Percent Persons Below Poverty Level
0,2022-10-20,Alabama,1531305.0,20533.0,26.8,0.7,1.5,0.1,1.8,4.6,65.3,50536,15.5
1,2022-10-20,Alaska,306062.0,1350.0,3.7,15.6,6.5,1.4,7.5,7.3,60.2,77640,10.1
2,2022-10-20,Arizona,2283073.0,31514.0,5.2,5.3,3.7,0.3,2.9,31.7,54.1,58945,13.5
3,2022-10-20,Arkansas,957218.0,12408.0,15.7,1.0,1.7,0.4,2.2,7.8,72.0,47597,16.2
4,2022-10-20,California,11338044.0,96697.0,6.5,1.6,15.5,0.5,4.0,39.4,36.5,75235,11.8

In [16]:
#save dataframe with cases, total deaths, demographics and macroecomonic indicators 
macro_df.to_csv('macro_df.csv')

In [17]:
#import population data from usda.gov site
state_pop = pd.read_excel('PopulationReport.xlsx')
state_pop.info()
state_pop.describe()
state_pop.shape

state_pop.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  55 non-null     object
 1   Unnamed: 1  54 non-null     object
 2   Unnamed: 2  54 non-null     object
 3   Unnamed: 3  54 non-null     object
 4   Unnamed: 4  54 non-null     object
 5   Unnamed: 5  54 non-null     object
 6   Unnamed: 6  54 non-null     object
dtypes: object(7)
memory usage: 3.3+ KB

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Name,Pop. 1990,Pop. 2000,Pop. 2010,Pop. 2020,Pop. 2021,Change 2020-21
3,United States,248790925,281424600,308745538,331449281,331893745,0.001341
4,Alabama,4040389,4447207,4779736,5024279,5039877,0.003105

In [18]:
#clean and reorganize data
state_pop = state_pop.dropna()
state_pop.columns = state_pop.iloc[0] 
state_pop = state_pop[1:]

state_pop_2021 = state_pop[['Name','Pop. 2021']]
state_pop_2021.rename(columns={'Name': 'state', 'Pop. 2021': 'population'}, inplace=True)
print(len(state_pop_2021))
print(state_pop_2021['state'].unique())

state_pop_2021 = state_pop_2021[~state_pop_2021['state'].isin(['United States','Puerto Rico', 'District of Columbia'])]
print(state_pop_2021.nunique())

state_pop_2021.head()

53
['United States' 'Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California'
 'Colorado' 'Connecticut' 'Delaware' 'District of Columbia' 'Florida'
 'Georgia' 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas'
 'Kentucky' 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan'
 'Minnesota' 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada'
 'New Hampshire' 'New Jersey' 'New Mexico' 'New York' 'North Carolina'
 'North Dakota' 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania' 'Rhode Island'
 'South Carolina' 'South Dakota' 'Tennessee' 'Texas' 'Utah' 'Vermont'
 'Virginia' 'Washington' 'West Virginia' 'Wisconsin' 'Wyoming'
 'Puerto Rico']
2
state         50
population    50
dtype: int64

C:\Users\laure\AppData\Local\Temp\ipykernel_6360\1252778683.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  state_pop_2021.rename(columns={'Name': 'state', 'Pop. 2021': 'population'}, inplace=True)

2       state population
4     Alabama    5039877
5      Alaska     732673
6     Arizona    7276316
7    Arkansas    3025891
8  California   39237836

In [19]:
#get deaths per state for 2021
state_deaths_2021 = all_deaths_df.loc[all_deaths_df['date'].dt.year == 2021 , ['state','deaths','date']]
print(state_deaths_2021.head())
print(state_deaths_2021['state'].unique())

            state  deaths       date
16734     Alabama    4872 2021-01-01
16735      Alaska     198 2021-01-01
16736     Arizona    9015 2021-01-01
16737    Arkansas    3711 2021-01-01
16738  California   26236 2021-01-01
['Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California' 'Colorado'
 'Connecticut' 'Delaware' 'Florida' 'Georgia' 'Hawaii' 'Idaho' 'Illinois'
 'Indiana' 'Iowa' 'Kansas' 'Kentucky' 'Louisiana' 'Maine' 'Maryland'
 'Massachusetts' 'Michigan' 'Minnesota' 'Mississippi' 'Missouri' 'Montana'
 'Nebraska' 'Nevada' 'New Hampshire' 'New Jersey' 'New Mexico' 'New York'
 'North Carolina' 'North Dakota' 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania'
 'Rhode Island' 'South Carolina' 'South Dakota' 'Tennessee' 'Texas' 'Utah'
 'Vermont' 'Virginia' 'Washington' 'West Virginia' 'Wisconsin' 'Wyoming']

In [20]:
#check organization of data
print(state_deaths_2021.columns)
print(state_deaths_2021.head())
print(state_deaths_2021['state'].nunique())

Index(['state', 'deaths', 'date'], dtype='object')
            state  deaths       date
16734     Alabama    4872 2021-01-01
16735      Alaska     198 2021-01-01
16736     Arizona    9015 2021-01-01
16737    Arkansas    3711 2021-01-01
16738  California   26236 2021-01-01
50

In [21]:
#subtract beginning of year death count from end of the year 
#since the death column is cumulative must subtract to get deaths during 2021 only
state_deaths_2021_end = state_deaths_2021[state_deaths_2021['date']=='2021-12-31']
state_deaths_2021_beg = state_deaths_2021[state_deaths_2021['date']=='2021-01-01']

print(state_deaths_2021_end.head())
print(state_deaths_2021_beg.head())
beg = state_deaths_2021_beg['deaths'].tolist()
end = state_deaths_2021_end['deaths'].tolist()

print(len(beg))
print(len(end))

result = []
end_index = len(beg)

for i in range(end_index):
    result.append(end[i]-beg[i])
result

            state  deaths       date
36854     Alabama   16455 2021-12-31
36855      Alaska     954 2021-12-31
36857     Arizona   24229 2021-12-31
36858    Arkansas    9148 2021-12-31
36859  California   76709 2021-12-31
            state  deaths       date
16734     Alabama    4872 2021-01-01
16735      Alaska     198 2021-01-01
16736     Arizona    9015 2021-01-01
16737    Arkansas    3711 2021-01-01
16738  California   26236 2021-01-01
50
50

[11583,
 756,
 15214,
 5437,
 50473,
 5544,
 3165,
 1356,
 40832,
 19673,
 800,
 2725,
 13038,
 10666,
 3960,
 4151,
 9193,
 7498,
 1184,
 5816,
 7850,
 15973,
 5274,
 5634,
 10317,
 1945,
 1629,
 5274,
 1202,
 9877,
 3353,
 21260,
 12617,
 741,
 20485,
 9063,
 4154,
 20458,
 1289,
 9340,
 998,
 13794,
 47628,
 2514,
 335,
 10506,
 6381,
 3975,
 5916,
 1088]

In [22]:
state_deaths_2021 = pd.DataFrame({'state':state_deaths_2021_end['state'],'deaths':result,'date': 
                                    state_deaths_2021_end['date'],})
print(state_deaths_2021.head())

#save new datafram of state deaths for the year of 2021 exclusively
state_deaths_2021.to_csv('state_deaths_2021.csv')

            state  deaths       date
36854     Alabama   11583 2021-12-31
36855      Alaska     756 2021-12-31
36857     Arizona   15214 2021-12-31
36858    Arkansas    5437 2021-12-31
36859  California   50473 2021-12-31

In [23]:
#create dataframe to of state deaths, population and percent affected 
deaths_pop_2021 = pd.merge(state_deaths_2021, state_pop_2021, on='state', how='outer')

deaths_pop_2021.head()
deaths_pop_2021.to_csv('deaths_pop_2021.csv')

In [24]:
#add to state population df % population affected 
deaths= state_deaths_2021['deaths']
pop= state_pop_2021['population']
print(len(deaths))
print(len(pop))

deaths_list = deaths.tolist()
print(deaths_list)
pop_list = pop.tolist()
print(pop_list)
result2 = []

# get last index for the lists for iteration
end_index = len(deaths_list)

for i in range(end_index):
    result2.append(deaths_list[i]/pop_list[i])
result2

50
50
[11583, 756, 15214, 5437, 50473, 5544, 3165, 1356, 40832, 19673, 800, 2725, 13038, 10666, 3960, 4151, 9193, 7498, 1184, 5816, 7850, 15973, 5274, 5634, 10317, 1945, 1629, 5274, 1202, 9877, 3353, 21260, 12617, 741, 20485, 9063, 4154, 20458, 1289, 9340, 998, 13794, 47628, 2514, 335, 10506, 6381, 3975, 5916, 1088]
[5039877, 732673, 7276316, 3025891, 39237836, 5812069, 3605597, 1003384, 21781128, 10799566, 1441553, 1900923, 12671469, 6805985, 3193079, 2934582, 4509394, 4624047, 1372247, 6165129, 6984723, 10050811, 5707390, 2949965, 6168187, 1104271, 1963692, 3143991, 1388992, 9267130, 2115877, 19835913, 10551162, 774948, 11780017, 3986639, 4246155, 12964056, 1095610, 5190705, 895376, 6975218, 29527941, 3337975, 645570, 8642274, 7738692, 1782959, 5895908, 578803]

[0.002298270374455567,
 0.0010318382143193485,
 0.002090893248726416,
 0.0017968261249331188,
 0.001286334954863464,
 0.0009538771821187945,
 0.0008778019285017155,
 0.0013514267718042145,
 0.001874650385416219,
 0.0018216472773072547,
 0.0005549570497928276,
 0.0014335141402360852,
 0.0010289256912517405,
 0.0015671500892229413,
 0.0012401822817412285,
 0.001414511504534547,
 0.002038633128974758,
 0.00162152331064109,
 0.0008628184284607655,
 0.0009433703658106748,
 0.001123881362224386,
 0.0015892249889088552,
 0.000924065115578224,
 0.0019098531677494478,
 0.0016726146597047073,
 0.0017613430036648612,
 0.0008295598291381745,
 0.0016774857179934675,
 0.0008653757545039856,
 0.0010658100188515754,
 0.0015846856882512548,
 0.0010717933679180787,
 0.001195792463427251,
 0.0009561931897366017,
 0.0017389618368122898,
 0.002273343535745273,
 0.000978296835607744,
 0.0015780555097879862,
 0.0011765135404021505,
 0.001799370220422852,
 0.0011146155358195886,
 0.0019775726005982893,
 0.0016129807357715866,
 0.0007531512369026131,
 0.000518921263379649,
 0.0012156522692985665,
 0.000824557948552546,
 0.0022294399366446453,
 0.0010034077872314155,
 0.0018797414664402223]

In [25]:
state_pop_2021['% population affected'] = result2
print(state_pop_2021.head())

#save dataframe with population and percent population affected for each state in 2021 
state_pop_2021.to_csv('state_pop_2021.csv')

2       state population  % population affected
4     Alabama    5039877               0.002298
5      Alaska     732673               0.001032
6     Arizona    7276316               0.002091
7    Arkansas    3025891               0.001797
8  California   39237836               0.001286

C:\Users\laure\AppData\Local\Temp\ipykernel_6360\1234160785.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  state_pop_2021['% population affected'] = result2

Agency for Healthcare Research and Quality (AHRQ) rating for 50 states
AHRQ_list = {'top 10': ['Delaware', 'Iowa', 'Maine', 'Massachusetts', 'Minnesota', 'New Hampshire', 'North Dakota', 'Rhode Island', 
             'Vermont', 'Wisconsin'], 'middle 30': ['Alabama', 'Alaska', 'Arizona', 'Colorado', 'Connecticut', 'Hawaii', 
            'Idaho', 'Illinois', 'Indiana', 'Kansas', Kentucky, Maryland, Michigan, Mississippi, Missouri,
             Montana, Nebraska, New Jersey, New York, North Carolina, Ohio, Oregon, Pennsylvania, South Carolina, South Dakota, Utah,
            Virginia, Washington, West Virginia, Wyoming], 'bottom 10':[Arkansas, California, Florida, Georgia, Louisiana,
            Nevada, New Mexico, Oklahoma, Tennessee, Texas]}
AHRQ_df = pd.DataFrame(AHRQ_list)

In [26]:
#create dataframe of various health indicators for each state 
state_health_df = pd.read_csv('2021-Annual.csv')
pd.DataFrame.info(state_health_df)
state_health_df.describe()
state_health_df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52367 entries, 0 to 52366
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Edition       52367 non-null  int64
 1   Report Type   52367 non-null  object
 2   Measure Name  52367 non-null  object
 3   State Name    52367 non-null  object
 4   Rank          11946 non-null  float64
 5   Value         42323 non-null  float64
 6   Score         30940 non-null  float64
 7   Lower CI      36882 non-null  float64
 8   Upper CI      36882 non-null  float64
 9   Source        52367 non-null  object
 10  Source Year   0 non-null      float64
dtypes: float64(6), int64(1), object(4)
memory usage: 4.4+ MB

(52367, 11)

In [27]:
print(state_health_df.columns)
print(state_health_df['State Name'].unique())
print(state_health_df['State Name'].nunique())
print(state_health_df['Measure Name'].nunique())
print(state_health_df['Measure Name'].unique().tolist())

state_health_df.head()

Index(['Edition', 'Report Type', 'Measure Name', 'State Name', 'Rank', 'Value',
       'Score', 'Lower CI', 'Upper CI', 'Source', 'Source Year'],
      dtype='object')
['Alaska' 'Alabama' 'Arkansas' 'Arizona' 'California' 'Colorado'
 'Connecticut' 'Delaware' 'Florida' 'Georgia' 'Hawaii' 'Iowa' 'Idaho'
 'Illinois' 'Indiana' 'Kansas' 'Kentucky' 'Louisiana' 'Massachusetts'
 'Maryland' 'Maine' 'Michigan' 'Minnesota' 'Missouri' 'Mississippi'
 'Montana' 'North Carolina' 'North Dakota' 'Nebraska' 'New Hampshire'
 'New Jersey' 'New Mexico' 'Nevada' 'New York' 'Ohio' 'Oklahoma' 'Oregon'
 'Pennsylvania' 'Rhode Island' 'South Carolina' 'South Dakota' 'Tennessee'
 'Texas' 'Utah' 'Virginia' 'Vermont' 'Washington' 'Wisconsin'
 'West Virginia' 'Wyoming' 'United States' 'District of Columbia']
52
1001

,Edition,Report Type,Measure Name,State Name,Rank,Value,Score,Lower CI,Upper CI,Source,Source Year
0,2021,2021 Annual,Access to Care - Annual,Alaska,20.0,0.494,0.494,NaN,NaN,AHR data,NaN
1,2021,2021 Annual,Access to Care - Annual,Alabama,45.0,-0.900,-0.900,NaN,NaN,AHR data,NaN
2,2021,2021 Annual,Access to Care - Annual,Arkansas,43.0,-0.681,-0.681,NaN,NaN,AHR data,NaN
3,2021,2021 Annual,Access to Care - Annual,Arizona,42.0,-0.657,-0.657,NaN,NaN,AHR data,NaN
4,2021,2021 Annual,Access to Care - Annual,California,18.0,0.569,0.569,NaN,NaN,AHR data,NaN

In [28]:
state_health_df = state_health_df.loc[~state_health_df['State Name'].isin(['District of Columbia','United States'])]
state_health_df_2021 = state_health_df[['Measure Name','State Name','Rank','Value','Score']]
state_health_df_2021.rename(columns={'State Name':'State'},inplace=True)
print(state_health_df_2021.head())
print(state_health_df.shape)

              Measure Name       State  Rank  Value  Score
0  Access to Care - Annual      Alaska  20.0  0.494  0.494
1  Access to Care - Annual     Alabama  45.0 -0.900 -0.900
2  Access to Care - Annual    Arkansas  43.0 -0.681 -0.681
3  Access to Care - Annual     Arizona  42.0 -0.657 -0.657
4  Access to Care - Annual  California  18.0  0.569  0.569
(50352, 11)

C:\Users\laure\AppData\Local\Temp\ipykernel_6360\1098444510.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  state_health_df_2021.rename(columns={'State Name':'State'},inplace=True)

In [29]:
#save dataframe of health indicators 
state_health_df_2021.to_csv('state_health_df_2021.csv')

In [41]:
#aggregate health indicators information to the state level
df = state_health_df_2021[['State','Measure Name','Rank']]

df.columns
df['State'].nunique()
df.shape

(50352, 3)

In [31]:
df = (pd.pivot_table(df, index = 'State',
                   columns = 'Measure Name',
                   values = 'Rank'))
for column in df:
    df.rename(columns = {column : str(column) + ''+'Rank'}, inplace = True)
df.head()

Measure Name,Access to Care - AnnualRank,Adverse Childhood ExperiencesRank,Air PollutionRank,Air and Water Quality - AnnualRank,All Determinants - AnnualRank,ArthritisRank,AsthmaRank,Avoided Care Due to CostRank,Behavioral Health - AnnualRank,BehaviorsRank,...,VolunteerismRank,Voter Participation (Average)Rank,Voter Participation (Midterm)Rank,Voter Participation (Presidential)Rank,Voter Participation (Presidential) - Ages 45-64Rank,Voter Participation (Presidential) - Ages 65+ Rank,Voter Participation (Presidential) - FemaleRank,Voter Participation (Presidential) - MaleRank,Voter Participation (Presidential) - WhiteRank,Water FluoridationRank
State,,,,,,,,,,,,,,,,,,,,,
Alabama,45.0,30.0,33.0,29.0,45.0,49.0,16.0,45.0,33.0,47.0,...,39.0,42.0,37.0,46.0,41.0,49.0,47.0,46.0,46.0,23.0
Alaska,20.0,44.0,16.0,43.0,31.0,8.0,13.0,31.0,25.0,26.0,...,12.0,33.0,27.0,38.0,9.0,35.0,38.0,36.0,23.0,43.0
Arizona,42.0,35.0,46.0,41.0,32.0,12.0,26.0,40.0,27.0,22.0,...,40.0,8.0,10.0,8.0,7.0,5.0,5.0,16.0,6.0,37.0
Arkansas,43.0,48.0,23.0,19.0,48.0,43.0,18.0,44.0,42.0,46.0,...,27.0,50.0,50.0,50.0,50.0,50.0,49.0,50.0,49.0,20.0
California,18.0,9.0,50.0,46.0,28.0,1.0,20.0,13.0,31.0,15.0,...,45.0,32.0,32.0,32.0,33.0,41.0,33.0,29.0,9.0,36.0

In [32]:
 df.isnull().any(axis=1)

State
Alabama           False
Alaska            False
Arizona           False
Arkansas          False
California        False
Colorado          False
Connecticut       False
Delaware          False
Florida           False
Georgia           False
Hawaii            False
Idaho             False
Illinois          False
Indiana           False
Iowa              False
Kansas            False
Kentucky          False
Louisiana         False
Maine              True
Maryland          False
Massachusetts     False
Michigan          False
Minnesota         False
Mississippi       False
Missouri          False
Montana           False
Nebraska          False
Nevada            False
New Hampshire      True
New Jersey        False
New Mexico        False
New York          False
North Carolina    False
North Dakota      False
Ohio              False
Oklahoma          False
Oregon            False
Pennsylvania      False
Rhode Island      False
South Carolina    False
South Dakota      False
Tennessee         False
Texas             False
Utah              False
Vermont            True
Virginia          False
Washington        False
West Virginia     False
Wisconsin         False
Wyoming            True
dtype: bool

In [39]:
m = df.median(axis=1)
for i, col in enumerate(df):
    # using i allows for duplicate columns
    # inplace *may* not always work here, so IMO the next line is preferred
    df.iloc[:, i].fillna(m, inplace=True)
    #df.iloc[:, i] = df.iloc[:, i].fillna(m)
    
df.isnull().any(axis=1)

State
Alabama           False
Alaska            False
Arizona           False
Arkansas          False
California        False
Colorado          False
Connecticut       False
Delaware          False
Florida           False
Georgia           False
Hawaii            False
Idaho             False
Illinois          False
Indiana           False
Iowa              False
Kansas            False
Kentucky          False
Louisiana         False
Maine             False
Maryland          False
Massachusetts     False
Michigan          False
Minnesota         False
Mississippi       False
Missouri          False
Montana           False
Nebraska          False
Nevada            False
New Hampshire     False
New Jersey        False
New Mexico        False
New York          False
North Carolina    False
North Dakota      False
Ohio              False
Oklahoma          False
Oregon            False
Pennsylvania      False
Rhode Island      False
South Carolina    False
South Dakota      False
Tennessee         False
Texas             False
Utah              False
Vermont           False
Virginia          False
Washington        False
West Virginia     False
Wisconsin         False
Wyoming           False
dtype: bool

In [40]:
#save dataframe with each states health indicators as column
df.to_csv('health.csv')

(50, 236)

In [35]:
#score in state_health_2021 table is the zscore 

#The value of the z-score tells you how many standard deviations you are away from the mean. 
#If a z-score is equal to 0, it is on the mean.\
#A positive z-score indicates the raw score is higher than the mean average. 
#For example, if a z-score is equal to +1, it is 1 standard deviation above the mean.

In [36]:
#airtraffic data https://www.transtats.bts.gov/Data_Elements.aspx?Data
dom = [61638893, 59879630, 34420555, 2879712,7861491, 16132885, 22922158,24431822,23854772,28027209,26294514,27264199,
       24305908,24483505,39343495,43798946,52752164, 60110694,66741175,60632081,53903524,60548494,59779348,59535445,
      45814651,49076378,64604568,63514551,66957127,67359995]  #until june 2022
int = 0
begin_date = '2020-01-01'

air_traffic = pd.DataFrame({'domestic':dom, 
                   'international':int,
                   'Month_year':pd.date_range(begin_date, periods=len(dom),freq='MS')})
air_traffic['Month_year'] = pd.to_datetime(air_traffic['Month_year'])
print (air_traffic.head(10))

   domestic  international Month_year
0  61638893              0 2020-01-01
1  59879630              0 2020-02-01
2  34420555              0 2020-03-01
3   2879712              0 2020-04-01
4   7861491              0 2020-05-01
5  16132885              0 2020-06-01
6  22922158              0 2020-07-01
7  24431822              0 2020-08-01
8  23854772              0 2020-09-01
9  28027209              0 2020-10-01

In [37]:
#save dataframe with domestic air traffic per month in the United States for 2020-2022
air_traffic.to_csv('air_traffic.csv')